{% import 'macros/form.html' as form %}

{% if h.is_scheming_field_lang_support_enabled(field) %}
{% call form.markdown(
    field.field_name,
    id='field-' + field.field_name,
    label=h.scheming_language_text(field.label),
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=data[field.field_name],
    error=errors[field.field_name],
    attrs=dict({"class": "form-control"}, **(field.get('form_attrs', {}))),
    is_required=h.scheming_field_required(field)
    )
%}
    <div><ul>
        <li><strong>HTML Tags are allowed</strong></li>
        <li><strong>Pay attention that links must be defined as a markdown list, see the placeholder text for example</strong></li>
    </ul></div>
{% endcall %}
{% endif %}
