{% ckan_extends %}

{% block styles %}
  {{ super() }}
  {% resource 'datacity/datacity-theme.css' %}
  {% if not h.setting('default_global_font') or h.setting('default_global_font') == 'Rubik' %}
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
  {% else %}
  <link href="https://fonts.googleapis.com/css2?family={{ h.setting('default_global_font') }}:wght@200..800&display=swap" rel="stylesheet">
  {% endif %}
{% endblock %}

{%- block title -%}
  {%- block subtitle %}{% endblock -%}
  {%- if self.subtitle()|trim %} {{ g.template_title_deliminater }} {% endif -%}
  {{ h.setting('site_title_'+h.lang(), h.setting('site_title_he', g.site_title)) }}
{%- endblock -%}

{%- block meta -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ h.setting('google_analytics_tracking_id', 'UA-174457911-1') }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ h.setting('google_analytics_tracking_id', 'UA-174457911-1') }}');
  </script>
  {{ super() }}
  {% if h.setting('site_sharing_image_url') %}
    <meta property="og:image" content="{{ h.setting('site_sharing_image_url') }}" />
    <meta property="og:image:alt" content="{{ h.setting('site_title_'+h.lang(), h.setting('site_title_he', g.site_title)) }}" />
  {% endif %}
{%- endblock -%}

{%- block custom_styles %}
  <style>
    {%- if g.site_custom_css -%}
    {{ g.site_custom_css | safe }}
    {%- endif %}
    .account-masthead {
      background-color: {{ h.color("top_header_background_color") }};
    }
    .account-masthead .account ul li a {
      color: {{ h.color("menu_text_color") }};
    }
    .account-masthead .account ul li a:hover {
      color: {{ h.color("menu_text_color") }};
      background-color: {{ h.color("menu_highlight_color") }};
    }
    .dc-flex-navbar .dcfn-item.dcfni-navbar a:hover::after {
      background: {{ h.color("menu_highlight_color") }};
      {% if h.setting('menu_design') == 'alternative1' %}
          width: 30px;
          right: 15px;
          left: unset;
      {% endif %}
    }
    .dc-flex-navbar .dcfn-item.dcfni-navbar li.active a::after {
      background: {{ h.color("menu_highlight_color") }};
      {% if h.setting('menu_design') == 'alternative1' %}
          width: 30px;
          right: 15px;
          left: unset;
      {% endif %}
    }
    .masthead {
      background-color: {{ h.color("menu_background_color") }};
    }
    .masthead .nav > li > a {
      color: {{ h.color("menu_text_color") }};
    }
    .masthead .nav > li > a:focus, .masthead .nav > li > a:hover, .masthead .nav > .active > a, .masthead .nav > .active > a:hover, .masthead .nav > .active > a:focus {
      color: {{ h.color("menu_text_color") }};
    }
    .homepage .module-search .module-content .heading {
      color: {{ h.color('homepage_title_text_color') }};
    }
    [role=main].hero {
      background: url({{ h.setting('homepage_title_background_image_url', 'https://www.datacity.org.il/wp-content/uploads/2020/08/zagreb.png') }});
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      {% if h.setting('homepage_title_design') == 'single-line-side' %}
        background-blend-mode: darken;
        background-color: rgba(0,0,0,0.6);
      {% endif %}
    }
    @media (max-width: 768px) {
      [role=main].hero {
        background: transparent;
      }
    }
    .search-by-cat-top-container {
      background-color: {{ h.color("homepage_groups_background_color") }};
      color: {{ h.color("homepage_groups_text_color") }};
    }
    .surrey-media-item-wrap {
      background-color: {{ h.color("homepage_groups_inner_background_color") }};
    }
    .surrey-media-item-wrap:hover {
      background-color: {{ h.color("homepage_groups_inner_hover_background_color") }};
    }
    .surrey-media-item span {
      color: {{ h.color("homepage_groups_inner_text_color") }};
    }
    .site-footer {
      background-color: {{ h.color("footer_background_color") }};
    }
    body {
      background-color: {{ h.color("footer_background_color") }};
      color: {{ h.color("default_global_text_color") }};
      {% if h.setting('default_global_font') and h.setting('default_global_font') != 'Rubik' %}
        font-family: '{{ h.setting('default_global_font') }}', Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
      {% endif %}
    }
    .dataset-heading a,
    .nav-item > a,
    .nav-aside li a,
    .empty {
        color: {{ h.color("default_global_text_color") }};
    }
    .wrapper:before {
      border-{{ 'right' if h.is_rtl_language() else 'left' }}: 0;
    }
    .SectionTitle:after {
      {{ 'right' if h.is_rtl_language() else 'left' }}: 0;
    }
    .surrey-media-item {
      float: {{ 'right' if h.is_rtl_language() else 'left' }};
    }
    p.filter-list span.facet {
      padding-{{ 'right' if h.is_rtl_language() else 'left' }}: 8px;
    }
    .lang-select label, .lang-select select, .lang-select .lang-container {
      float: {{ 'right' if h.is_rtl_language() else 'left' }};
    }
    .masthead .logo {
      margin-{{ 'right' if h.is_rtl_language() else 'left' }}: 20px;
    }
    {% if (h.setting('header_navbar_style') != 'city-logo-left' and not h.is_rtl_language()) or (h.is_rtl_language() and h.setting('header_navbar_style') == 'city-logo-left') %}
    .dcfni-city-logo hgroup {
        text-align: left;
    }
    .dcfni-datacity-logo {
        text-align: right;
    }
    {% endif %}
    .dc-flex-navbar {
        flex-direction: row{% if h.setting('header_navbar_style') != 'city-logo-left' %}-reverse{% endif %};
    }
    @media (max-width: 768px) {
        .dc-flex-navbar {
            flex-direction: row{% if h.setting('header_navbar_style') != 'city-logo-left' %}-reverse{% endif %};
            flex-wrap: wrap;
        }
    }
    .homepage .module-search .module-content .heading {
      background-color: {{ h.color("homepage_title_background_color") }};
    }
    {% if h.setting('homepage_title_border_color') %}
    .homepage .module-search .module-content .heading {border: 2px solid {{ h.color('homepage_title_border_color') }};}
    @media (max-width: 768px) {
       .homepage .module-search .module-content .heading {
         border: none;
       }
    }
    {% endif %}
    .homepage .module-search .search-title {
      color: {{ h.color('homepage_title_text_color') }};
    }
    .homepage-datasets-top-container {
      color: {{ h.color("homepage_datasets_text_color") }};
      background-color: {{ h.color("homepage_datasets_background_color") }};
    }
    .homepage-datasets-top-container a {
      color: {{ h.color("homepage_datasets_text_color") }};
    }
    .homepage-datasets-top-container .show-all-datasets-inner h3:hover {
      background-color: {{ h.color("homepage_datasets_button_hover_background_color") }};
      {% if h.setting('homepage_datasets_all_datasets_design') == 'alternative1' %}
        color: {{ h.color("homepage_datasets_text_color") }};
      {% endif %}
    }
    @media (max-width: 768px) {
      .footer-col-code {
        border-bottom-color: {{ h.color("footer_separator_color") }};
        border-top-color: {{ h.color("footer_separator_color") }};
      }
    }
    {% if h.setting('homepage_title_design') == 'single-line-side' %}
        .homepage.layout-1 {
            background-color: #182d88;
        }
        @media (max-width: 768px) {
            .homepage.layout-1 {
                background-color: transparent;
            }
        }
    {% endif %}
    {% if h.setting('homepage_datasets_all_datasets_design') == 'alternative1' %}
        .homepage-datasets-top-container .show-all-datasets-wrap h3 {
            background-color: #070f44;
            color: white;
            border-radius: unset;
            padding-bottom: 8px;
            padding-top: 8px;
            width: 200px;
        }
    {% endif %}
    {% if h.setting('footer_design') == 'alternative1' %}
        footer.site-footer {
            border-top: 1px solid #e9e9e9;
            padding: 0;
        }
        .footer-row {
            margin-top: 20px;
        }
        @media (max-width: 768px) {
            .footer-col-code {
                border: 0;
            }
        }
        .footer-row a.logo img {
            width: 115px;
        }
        [role=main] {
            padding:0;
            background:white;
        }
        div#content.container .row.wrapper {
            border: 0;
        }
        .wrapper:before {
            border: 0;
        }
        .module-content {
            padding:0;
        }
        h1 {
            font-size:45px;
            font-weight:bold;
        }
        .module-narrow .module-heading {
            font-weight: bold;
        }
        .filters h2.module-heading span {
            border-bottom: 3px solid #97dbf8;
        }
        .masthead {
            padding-bottom: 30px
        }

        .filters .nav-facet .nav-item > a {
            padding-right: 30px;
            font-size:18px;
            color: #100545;
        }
        .filters .nav-facet .nav-item > a:after {
          display: inline-block;
          vertical-align: text-bottom;
          position: relative;
          top: 2px;
          width: 8px;
          height: 23px;
          background-color: #291e89;
          content: "";
          position: absolute;
          top: 45%;
          right: 20px;
          margin-top: -8px;
        }
        .filters .nav-facet .nav-item > a:hover:after {
            right: 15px;
            width: 19px;
            height: 19px;
            background-image: url(/sidefiltersicons.png);
            background-position: 0 0;
        }
        .filters .nav-facet .nav-item.active > a:after {
            right: 15px;
            width: 19px;
            height: 19px;
            background-image: url(/sidefiltersicons.png);
            background-position: 0 -18px;
        }
        .filters .nav-item.active > a, .filters .nav-item > a:hover {
            background-color: #291e89;
            color: white;
        }
        .filters .badge {
            color: #291e89;
            background-color: #eeeeee;
            border-radius: 5px;
            margin-right: 25px;
        }
        .filters .nav-facet .nav-item.active .badge {
            background-color: transparent;
            color: white;
        }
        #dataset-search-form .pill {
            background-color: #291e89;
            font-size: 14px;
            font-weight: 500;
        }
        #dataset-search-form .pill i.fa-times:before {
          display: inline-block;
          vertical-align: text-bottom;
          position: relative;
          top: 3px;
          width: 18px;
          height: 18px;
          background-image: url(/sidefiltersicons.png);
          background-repeat: no-repeat;
          background-position: 0 -18px;
          content: "";
          right: 5px;
          margin-top: -8px;
        }
        @media (max-width: 768px) {
            .module.context-info {
                display: none;
            }
            .page-header.module-content {
                display: none;
            }
            .form-select.form-group.control-order-by {
                display: none;
            }
            p.empty {
                display: none;
            }
            .toolbar .breadcrumb a {
                color: initial;
            }
            .module-narrow.social {
                display: none;
            }
        }
    {% endif %}
  </style>
{% endblock %}