{% ckan_extends %}

{% block footer_links %}
  <li><a href="{{ h.url_for(controller='home', action='about') }}">{{ _('About {0}').format(h.setting('site_title_'+h.lang(), h.setting('site_title_he', g.site_title))) }}</a></li>
  {% if h.setting('terms_url_' + h.lang()) %}
  <li><a href="{{ h.setting('terms_url_' + h.lang()) }}">{{ _('Terms of service') }}</a></li>
  {% elif h.setting('terms_url_he') %}
  <li><a href="{{ h.setting('terms_url_he') }}">{{ _('Terms of service') }}</a></li>
  {% endif %}
  {% if h.setting('contact_url_' + h.lang()) %}
  <li><a href="{{ h.setting('contact_url_' + h.lang()) }}">{{ _('Contact us') }}</a></li>
  {% elif h.setting('contact_url_he') %}
  <li><a href="{{ h.setting('contact_url_he') }}">{{ _('Contact us') }}</a></li>
  {% endif %}
{% endblock %}

{% block footer_links_ckan %}
  {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
  <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
{% endblock %}
