<div role="main" class="hero">
  <div class="container">
    {% block search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  </div>
</div>

<div class="search-by-cat-top-container{{ ' search-by-cat-top-container-slsd' if h.setting('homepage_title_design') == 'single-line-side' else '' }}">
  <div class="container">
    {% snippet 'home/snippets/groups.html' %}
  </div>
</div>

<div class="homepage-datasets-top-container">
  <div class="container">
    {% snippet 'home/snippets/datasets.html' %}
  </div>
</div>

{% if false %}
<div role="main" class="odatasets">
  <div class="container">
    <div class="box">
      <h2>{{ _('Latest updates') }}</h2>
      {% snippet 'snippets/package_list.html', packages=h.homepage_datasets() %}
      <p class="alldatasets">
        <a href="{% url_for '/dataset' %}">{{ _('All datasets') }}</a>
      </p>
  </div>


  </div>
</div>
{% endif %}