<li class="item {{ activity.type|lower }}">
  {% if activity.is_new %}
    <span class="new" title="{{ _('New activity item') }}">{{ _('New activity item') }}</span>
  {% endif %}
  <i class="fa icon fa-{{ activity.icon }}" aria-hidden="true"></i>
  <p>
    {{ h.literal(h.gravatar_accessibility(activity.msg.format(**activity.data))) }}
    <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">{{ h.time_ago_from_timestamp(activity.timestamp) }}</span>
  </p>
</li>
