{% set dataset_type = h.default_package_type() %}
<div class="dc-flex-navbar">
    <div class="dcfn-item dcfni-datacity-logo">
        {% if h.setting('datacity_logo_url') %}
        <div>
            <a class="logo" href="https://datacity.org.il/"><img src="{{ h.setting('datacity_logo_url') }}" alt="{{ _('Datacity Logo - link to homepage') }}" title="{{ _('Datacity Logo - link to homepage') }}"/></a>
        </div>
        {% endif %}
    </div>
    <div class="dcfn-item dcfni-navbar">
        <nav class="section navigation">
            <ul class="nav nav-pills">
                {% block header_site_navigation_tabs %}
                    {% set org_type = h.default_group_type('organization') %}
                    {% set group_type = h.default_group_type('group') %}

                    {{ h.build_nav_main(
                        (dataset_type ~ '.search', h.humanize_entity_type('package', dataset_type, 'main nav') or _('Datasets'), ["dataset", "resource"]),
                        (org_type ~ '.index', h.humanize_entity_type('organization', org_type, 'main nav') or _('Organizations'), ['organization']),
                        (group_type ~ '.index', h.humanize_entity_type('group', group_type, 'main nav') or _('Groups'), ['group']),
                        ('home.about', _('About'))
                    ) }}
                {% endblock %}
            </ul>
        </nav>
    </div>
    <div class="dcfn-item dcfni-city-logo">
        <hgroup class="{{ g.header_class }}">
            <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ _('Municipality Logo - link to homepage') }}" title="{{ _('Municipality Logo - link to homepage') }}"/></a>
        </hgroup>
    </div>
</div>
