<div class="dc-flex-navbar">
    <div class="dcfn-item dcfni-datacity-logo">
        {% if h.setting('datacity_logo_url') %}
        <div>
            <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.setting('datacity_logo_url') }}" alt="{{ _('Datacity Logo') }}" title="{{ _('Datacity Logo') }}"/></a>
        </div>
        {% endif %}
    </div>
    <div class="dcfn-item dcfni-navbar">
        <nav class="section navigation">
            <ul class="nav nav-pills">
                {% block header_site_navigation_tabs %} {{ h.build_nav_main( ('search', _('Datasets')),
                ('organizations_index', _('Organizations')),
                ('group_index', _('Groups')), ('home.about', _('About')) ) }} {% endblock %}
            </ul>
        </nav>
    </div>
    <div class="dcfn-item dcfni-city-logo">
        <hgroup class="{{ g.header_class }}">
            <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ _('Municipality Logo') }}" title="{{ _('Municipality Logo') }}"/></a>
        </hgroup>
    </div>
</div>