{% ckan_extends %}

{% block image %}
    <div class="image organization-logo">
        <a href="{{ url }}">
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" width="200" alt="{{ organization.name }}" />
        </a>
    </div>
{% endblock %}

{% block heading %}
    {% do h.update_organization_lang(organization) %}
    {{ super() }}
{% endblock %}

{% block nums %}
    <div class="nums">
        <dl>
            <dt>{{ _('Datasets') }}</dt>
            <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
        </dl>
    </div>
{% endblock %}

{% block follow %}
{% endblock %}
