<div class="search-by-cat">
    <h3 class="heading">{{ _('Or, Search By Group') }}:</h3>
    <ul class="surrey-media-grid">
        {% for group in h.homepage_groups() %}
        <li class="surrey-media-item">
            <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}" title="{{ group.display_name }}">
                <div class="surrey-media-item-wrap">
                    <img src="{{ group.image_display_url }}" alt="{{ group.display_name }}" width="51" height="51">
                    <span>{{ group.display_name }}</span>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div style="clear:both"></div>
</div>
