<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    {% if h.setting('homepage_title_design') == 'single-line-side' %}
        <h1 class="heading-side">
          {{ h.setting('homepage_title_text_line_1', 'פורטל מידע פתוח') }}<br/>
        </h1>
    {% else %}
        <h1 class="heading">
          {{ h.setting('homepage_title_text_line_1', 'פורטל מידע פתוח') }}<br/>
          {{ h.setting('homepage_title_text_line_2', h.site_title()) }}
        </h1>
        {% snippet 'home/snippets/search_box.html' %}
    {% endif %}
  </form>
</div>
